form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 90vw;
  max-width: 300px;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 8px;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
}

span {
  margin: 8px 0;
}

.error {
  color: red;
}
