<mat-card class="header">
  <div class="logo">
    <h1>E-Commerce</h1>
  </div>
  <div class="nav-items">
    <button mat-button (click)="goToProducts()" class="nav-item">
      Products
    </button>
    <button mat-button (click)="goToCart()" class="nav-item">
      <button class="cart-quantity">
        {{ cartItems.length }}</button
      >Cart
    </button>
    <button (click)="dropUser()" mat-button class="nav-item">User</button>
    <mat-card *ngIf="userDropdown" class="user-dropdown">
      <button *ngIf="!user" mat-button class="nav-item" (click)="goToLogin()">
        Login
      </button>
      <button
        *ngIf="!user"
        mat-button
        class="nav-item"
        (click)="goToRegister()"
      >
        Register
      </button>
      <button mat-button class="nav-item" (click)="goToOrders()">Orders</button>
      <button mat-button class="nav-item" (click)="goToDashboard()">
        Profile
      </button>
    </mat-card>
  </div>
</mat-card>
