.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-bottom: 16px;
  overflow: hidden;

  width: 100vw;

  @media only screen and (max-width: 550px) {
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 550px) {
      display: none;
    }

    h1 {
      margin: 0 16px;
      padding: 0;
    }
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  button {
    cursor: pointer;
  }
}

.cart-quantity {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: none;
  margin-right: 8px;
}

button {
  text-align: center;
}
