<mat-card class="header">
  <div class="logo">
    <h1>E-Commerce</h1>
    <mat-icon>local_mall</mat-icon>
  </div>
  <div class="nav-items">
    <button mat-button (click)="goToProducts()" class="nav-item">
      Products
    </button>
    <button mat-button (click)="goToCart()" class="nav-item">
      <button class="cart-quantity">
        {{ cartItems.length }}</button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button *ngIf="user && user.displayName" mat-button [matMenuTriggerFor]="menu">
      {{ user.displayName.split(' ')[0] }}
    </button>
    <button *ngIf="!user || !user.displayName" mat-button [matMenuTriggerFor]="menu">
      User
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!user" mat-menu-item (click)="goToLogin()">Login</button>
      <button *ngIf="!user" mat-menu-item (click)="goToRegister()">
        Register
      </button>
      <button *ngIf="user" mat-menu-item (click)="goToOrders()">
        <mat-icon>list_alt</mat-icon>Orders
      </button>
      <button *ngIf="user" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
      <div mat-menu-item>
        <mat-slide-toggle (change)="setTheme($event)" [checked]="isDarkTheme">Dark Theme</mat-slide-toggle>
      </div>
    </mat-menu>
  </div>
</mat-card>