.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  margin-bottom: 16px;

  width: 100vw;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 0 16px;
      padding: 0;
    }
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  @media only screen and (max-width: 540px) {
    display: none;
  }

  .nav-item {
    margin: 0px 16px;
    cursor: pointer;
  }
}

.cart-quantity {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: none;
  margin-right: 8px;
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 70px;
}
