<div class="container">
  <div class="page">
    <app-header></app-header>
    <main>
      <mat-card
        (click)="toggleAccordion($event)"
        class="order"
        *ngFor="let order of orders; let i = index"
      >
        <div class="order-header">
          <div class="order-header-info">Order {{ i + 1 }}</div>
          <div class="order-header-info">
            {{ order.data | date: "d/MM/y" }}
          </div>
        </div>
        <br />
        <div class="products">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let products of order.products">
                <td>{{ products.product.name }}</td>
                <td>{{ products.quantity }}</td>
                <td>{{ products.product.price }}</td>
              </tr>
            </tbody>
          </table>
          <div class="total">
            <strong>Total: $ {{ order.total }}</strong>
          </div>
        </div>
      </mat-card>
    </main>
    <footer></footer>
  </div>
</div>
