main {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  text-align: center;

  @media only screen and (min-width: 400px) {
    padding: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media only screen and (min-width: 700px) {
    grid-template-columns: repeat(5, 1fr);
  }

  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    align-self: end;
  }

  button {
    margin: 8px;
  }
}
